<head>
<style>
.center{
	text-align: center;
}

.header{
	padding-left: 25px;
}
.content{
	padding-left: 50px;
}

</style>
</head>

	<div class="center">
	<img src="http://esignhealth.com/wp-content/uploads/2016/01/esignhealth-300x300.jpg" alt="logo" class="center"/>
</div>
<div class="header">
<h1>
Awesome <%= @user.name %>, you've created a new template!</h1>
<hr>
	<h3>  If your document needs a signature, you've got one last thing to do before you can start using your new template!
	</h3>
</div>
<div class="content">
			<p>Find the template you just uploaded in your templates listing and click "Set Signature Position."  From there, all you need to do is click on the location where you want to place your signer's signature.  The signatures are centered within the green area.* </p><br>

	Need more help?<a href="http://esignhealth.com/set-a-signature-position/"> Click here to watch a video demo!</a><br><br>			

	<b> *If you don't do this step, a signature will still be collected, but won't show up on your document. </b>

</div>
<hr>
<div class="header">
<h3>Thanks again for giving us a try!</h3>
	<p>If you need anything, reach out to us at support@esignhealth.com and we'll be glad to lend a hand!
	<br><br>
	Look forward to hearing from you!
	<br><br>
	The eSignHealth Team
</div>

