<head>
<style>
.center{
	text-align: center;
}

.header{
	padding-left: 25px;
}
.content{
	padding-left: 50px;
}
.p{
	padding-left: 75px;
}
</style>
</head>

	<div class="center">
	<img src="http://esignhealth.com/wp-content/uploads/2016/01/esignhealth-300x300.jpg" alt="logo" class="center"/>
</div>
<div class="header">
<h1>
Hello <%= @user.name %>, thanks for signing up for eSignHealth!</h1>
<br>
	<h2>  Your life is about to get a whole lot easier!
	</h2>
</div>
<div class="content">
	<h3>But first, there are a few things you're going to need to do to use eSignHealth:</h3>
		<h4>First, let's get a template or two uploaded.</h4>
		<p>
		It's pretty simple to do, just click the "My Templates" link in the navigation bar, then click "Create a New Template."  We only accept PDF documents as of right now, with support for other formats in the works.  You can have up to ten templates associated with your account.
	<br><br>
		Here's something really important:<i><b> Please do not include any PHI in your template.</b>  Templates are stored securely, but not encrypted like completed documents. </i>
	<br><br>
Need more help?<a href="http://esignhealth.com/upload-a-new-template/"> Click here to watch a video demo!</a>
	
	</p>


	<br>

<hr>
		<h4>Next, set a signature position if your document requires a signature.</h4>
			<p>This too is pretty painless.  Find the template you just uploaded in your templates listing and click "Set Signature Position."  From there, all you need to do is click on the location where you want to place your signer's signature.  The signatures are centered within the green area. </p><br><br>
Need more help?<a href="http://esignhealth.com/set-a-signature-position/"> Click here to watch a video demo!</a>
	<hr>
<h4>Now you're all set up and ready to send documents!</h4>
<p> To send a new document, just click the "My Documents" link from the navigation panel.  From there, you'll need to select which template you'd like to send and a recipient for your document.</p>
<br></div>
<div class="header">
<h3>Thanks again for giving us a try!</h3>
	<p>If you need anything, reach out to us at support@esignhealth.com and we'll be glad to lend a hand!
	<br><br>
	Look forward to hearing from you!
	<br><br>
	The eSignHealth Team
</div>

