<head>
<style>
.center{
	text-align: center;
}

.header{
	padding-left: 25px;
}
.content{
	padding-left: 50px;
}

</style>
</head>

	<div class="center">
	<img src="http://esignhealth.com/wp-content/uploads/2016/01/esignhealth-300x300.jpg" alt="logo" class="center"/>
</div>
<div class="header">
<h1>
<%= @user.name %>, you're all done!</h1>
<hr>
</div>
<div class="content">
			<p>You've created a template and if you've set the signature position you're ready to go take on the world.  Awesome!<br><br>
			</p><a href="http://esignhealth.com/sending-a-document/">Here's a quick start video to show you how to send your first document for completion.</a>	
	</div>
</div>
<hr>
<div class="header">
<h3>We're thrilled to have users like you!</h3>
	<p> And we're always happy to hear from you.   If you have any suggestions or questions, drop us a line at support@esignhealth.com <p>
	<br><br>
	Now go make today awesome!
	<br><br>
	The eSignHealth Team
</div>

