<head>
<style>
.center{
	text-align: center;
}
.header{
	padding-left: 25px;
}
.p{
	padding-left: 25px;
}

</style>
</head>

	<div class="center">
	<img src="http://esignhealth.com/wp-content/uploads/2016/01/esignhealth-300x300.jpg" alt="logo" class="center"/>
</div>
<div class="container">
<div class="header">
	<h1>We love it when a plan comes together!</h1>
</div>
<div class="p">
<br>
<%= @document.recipient %> has completed and signed the <%= @document.template.name %> document you sent them.<br> <br>
Please log in to to view it.
<br><br>
Thanks,<br>
The eSignHealth Team  
</div>