// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.zindex{
    page-break-before: auto;  
    page-break-inside: avoid;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

body{
    width: auto;
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    border: none;
    page-break-after: always;
  }

#area{
  width: 100%;
  height: 100%;
  background-color:green;
}

