// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.zindex{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
