@media print{
/*  .sigWrappershow {
  position: relative;
  clear: both;
  background: transparent;
  border-width: 5px;
  border-style: solid;
}*/

.padShow {
  width: 375px;
  border-width: 5px;
  border-style: solid;
  opacity: 0.7;
  background-color: transparent;
}
/*
.sigPadshow {
  margin: 0;
  padding: 0;
  width: 400px;
  text-align: center;
  background: transparent;
  z-index: 3;
    border-width: 5px;
  border-style: solid;
}*/

}

.img{
	page-break-inside: auto;
	z-index: 1;
  background-color: blue;
}

.rendered-dynamic-textfield {
  background: transparent;
  border: 0;
  z-index: 1;
  outline: none;
} 

.positivez{
	z-index: 2;
}