@media print{
  .sigWrappershow {
  position: relative;
  clear: both;
  background: transparent;
}

.padShow {
  position: relative;
  width: 375px;
  background: transparent;
}

.sigPadshow {
  margin: 0;
  padding: 0;
  width: 400px;
  text-align: center;
  background: transparent;
}

}

.img{
  display: none;
	page-break-inside: auto;
	min-width: 100%;
	z-index: -1;
}


.positivez{
	z-index: 2;
}