<body class="subdued">
</br>

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">We're sorry, there was an error in your request:</h3>
      </div>
      <div class="modal-body">
        	<h4>Your trial has expired. Payment is required to proceed.  
            <br><br>Please click the link below:</h4>
      </div>
      <div class="modal-footer center">
      	<%= render'form' %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</body>