<body class="subdued">
</br>

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">We're sorry, there was an error in your request:</h4>
      </div>
      <div class="modal-body">
        	<h4>Thanks for trying us out!</h4><br>
           <p> Time flies when you're having fun, but your trial has expired. Payment is required to proceed.  
            <br><br>Please click the link below: </p>
            <div class="center"%>
            <%= render'form' %></div>
      </div>

      
      <div class="modal-footer center">
          Having trouble?  Reach out to us at support@esignhealth.com
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</body>