<body class="subdued">
</br>

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Thanks for trying us out!</h4>
      </div>
      <div class="modal-body">
      <div class="center"><%= image_tag("graylogo.jpg", width: '200', height: '75') %></div>
        	<h4>Glad you've got a lot of use out of eSignHealth!</h4><br>
            <p>Each free demo comes with the ability to try out our software by:
          <ul style="text-indent: 15px;">
            <li>Sending 10 documents to send to any recipient </li>
            <li>Creating up to 2 templates for your use</li>
          </ul> 
          But, to keep providing you with world-class HIPAA compliant software (and keep the lights on around here) we want you to become our latest customer!
</p>
            <hr>

  <div>         
      <div class="center">
        <h4>Sign up with eSignHealth for just $45 per month
            <%= render'form' %></h4>
        <p style="padding-top: 10px;"> There’s no risk and you can cancel anytime with a single click from your dashboard.</p><br>
      </div>
  </div>    
      <div class="modal-footer center">
          Having trouble?  Reach out to us at <a href="mailto:support@esignhealth.com">support@eSignHealth.com</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</body>